name: Server | Review Environment

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - "server/**"
      - ".github/workflows/server.*"

env:
  # AWS ECS Configuration
  AWS_REGION: ${{ vars.AWS_REGION }}
  AWS_ASSUME_ROLE_ARN: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
  ECS_CLUSTER: ${{ secrets.ECS_CLUSTER }}
  ECS_SERVER_SERVICE: ${{ secrets.ECS_SERVER_SERVICE }}
  ECS_SERVER_CONTAINER_NAME: ${{ vars.ECS_SERVER_CONTAINER_NAME }}
  ECR_SERVER_REPOSITORY: ${{ vars.ECR_SERVER_REPOSITORY }}
  WORKING_DIRECTORY: "server"

  # COGNITO Configuration
  COGNITO_REGION: ${{ secrets.COGNITO_REGION }}
  COGNITO_USER_POOL_ID: ${{ secrets.COGNITO_USER_POOL_ID }}
  COGNITO_CLIENT_ID: ${{ secrets.COGNITO_CLIENT_ID }}
  COGNITO_CLIENT_SECRET: ${{ secrets.COGNITO_CLIENT_SECRET }}

  # DATABASE Configuration
  DATABASE_URL: ${{ secrets.DATABASE_URL_ARN }}

permissions:
  contents: write
  id-token: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: Preview
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ASSUME_ROLE_ARN }}
          role-session-name: github-actions-build-push-image
          role-duration-seconds: 1200

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set Variables
        id: set-vars
        shell: bash
        run: echo "IMAGE_TAG=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build, tag, and push Docket Image to Amazon ECR
        id: build-tag-push-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ steps.set-vars.outputs.image_tag }}
        run: |
          docker build \
            -f ${{ env.WORKING_DIRECTORY }}/Dockerfile \
            -t "${ECR_REGISTRY}/${{ env.ECR_SERVER_REPOSITORY }}:latest" \
            -t "${ECR_REGISTRY}/${{ env.ECR_SERVER_REPOSITORY }}:${IMAGE_TAG}-preview" .

          docker push "${ECR_REGISTRY}/${{ env.ECR_SERVER_REPOSITORY }}:latest"
          docker push "${ECR_REGISTRY}/${{ env.ECR_SERVER_REPOSITORY }}:${IMAGE_TAG}-preview"

          echo "image=${ECR_REGISTRY}/${{ env.ECR_SERVER_REPOSITORY }}:${IMAGE_TAG}-preview" >>$GITHUB_OUTPUT

    outputs:
      image: ${{ steps.build-tag-push-image.outputs.image }}

  deploy:
    runs-on: ubuntu-latest
    environment: Preview
    needs: [build-and-push]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: AWS Configure
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: ${{ env.AWS_ASSUME_ROLE_ARN }}
          role-session-name: github-actions-build-push-image
          role-duration-seconds: 1200

      - name: Get current active task definition ARN
        id: get-current-task-definition-arn
        run: |
          CURRENT_TASK_DEFINITION_ARN=$(aws ecs describe-services --cluster ${{ env.ECS_CLUSTER }} --services ${{ env.ECS_SERVER_SERVICE }} --region ${{ env.AWS_REGION }} --query 'services[0].taskDefinition' --output text)

          echo "CURRENT_TASK_DEFINITION_ARN=$CURRENT_TASK_DEFINITION_ARN" >> $GITHUB_ENV

      # !!! There currently a bug in the amazon-ecs-render-task-definition action that causes the action to fail when the environment-variables or secrets input is empty. To fix this, we need to add a dummy environment variable to the task definition. This is out of the scope of this course.
      # Related issue: https://github.com/aws-actions/amazon-ecs-render-task-definition/issues/347
      - name: Fill in the new image ID in the Amazon ECS task definition
        id: fill-in-image-id
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition-arn: ${{ env.CURRENT_TASK_DEFINITION_ARN }}
          container-name: ${{ env.ECS_SERVER_CONTAINER_NAME }}
          image: ${{ needs.build-and-push.outputs.image }}
          environment-variables: |
            NODE_ENV=production
          secrets: |
            COGNITO_REGION=${{ env.COGNITO_REGION }}
            COGNITO_USER_POOL_ID=${{ env.COGNITO_USER_POOL_ID }}
            COGNITO_CLIENT_ID=${{ env.COGNITO_CLIENT_ID }}
            COGNITO_CLIENT_SECRET=${{ env.COGNITO_CLIENT_SECRET }}
            DATABASE_URL=${{ env.DATABASE_URL }}

      - name: Deploy ECS task definition
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.fill-in-image-id.outputs.task-definition }}
          service: ${{ env.ECS_SERVER_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true

      - name: Retrieve the new task definition ARN
        id: get-task-definition-arn
        run: |
          NEW_TASK_DEFINITION_ARN=$(aws ecs describe-services --cluster ${{ env.ECS_CLUSTER }} --services ${{ env.ECS_SERVER_SERVICE }} --region ${{ env.AWS_REGION }} --query 'services[0].taskDefinition' --output text)

          echo "NEW_TASK_DEFINITION_ARN=$NEW_TASK_DEFINITION_ARN" >> $GITHUB_ENV

      - name: Generate the new task definition JSON
        id: generate-task-definition-json
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition-arn: ${{ env.NEW_TASK_DEFINITION_ARN }}
          container-name: ${{ env.ECS_SERVER_CONTAINER_NAME }}
          image: ${{ needs.build-and-push.outputs.image }}
          environment-variables: |
            NODE_ENV=production
          secrets: |
            COGNITO_REGION=${{ env.COGNITO_REGION }}
            COGNITO_USER_POOL_ID=${{ env.COGNITO_USER_POOL_ID }}
            COGNITO_CLIENT_ID=${{ env.COGNITO_CLIENT_ID }}
            COGNITO_CLIENT_SECRET=${{ env.COGNITO_CLIENT_SECRET }}
            DATABASE_URL=${{ env.DATABASE_URL }}

      - name: Check if task definition changed by comparing the new and old task definition ARN
        id: check-task-diff
        run: |
          if [ "${CURRENT_TASK_DEFINITION_ARN}" == "${NEW_TASK_DEFINITION_ARN}" ]; then
            echo "NO_CHANGE=true" >> $GITHUB_ENV
          else
            echo "NO_CHANGE=false" >> $GITHUB_ENV
            cat "${{ steps.generate-task-definition-json.outputs.task-definition }}" > server/server-task-definition.json
            git pull -ff
          fi
        continue-on-error: true

      - name: Commit New Task Definition
        if: env.NO_CHANGE == 'false'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "feat: update ECS Task Definition for Server (Review)"
          skip_fetch: true
          create_branch: true